body {
    background-color: rgb(213, 171, 107);
    color: white;
    margin: 0;
    flex: auto;
  }
   
  header {
    background-color: rgb(106, 56, 9);
    margin: 0;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
  }
   
  nav {
    text-align: right;
  }
   
  a {
  color: rgb(255, 255, 255);
  border: 2px solid rgb(213, 171, 107);
  border-radius: 10px;
  padding: 5px;
  text-decoration: none;
  margin: 5px;
  font-size: large;
  }
  a:hover{
  color: rgb(106, 56, 9);
  font-size: larger;
  border-radius: 10px;
  background-color: rgb(213, 171, 107);
  }

  footer {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center; 
}